/* --------------- reset.css --------------- */
html, body {
	margin: 0;
	padding: 0;
}

/* ------------------------------ */

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;	
	color: #ffffff;
	min-width: 1200px;
	background-color: #849d8f;	
}
body > input[type="radio"] {
  display: none;
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 11px 22px;
	background-color: #e84d37;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
	background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
	background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
	background-image: linear-gradient(to top, #e74a35, #f26843);
	-webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	        box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 100px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}	
.btn:hover {
	background-color: rgba(255, 255, 255, 0.2);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6e5d), to(#f58669));
	background-image: -webkit-linear-gradient(bottom, #ec6e5d, #f58669);
	background-image: -o-linear-gradient(bottom, #ec6e5d, #f58669);
	background-image: linear-gradient(to top, #ec6e5d, #f58669);
	-webkit-box-shadow: 0 2px 2px #ac1000;
	        box-shadow: 0 2px 2px #ac1000;
}	
.btn:active {
	-webkit-box-shadow: inset  0 2px 2px #942718;
	        box-shadow: inset  0 2px 2px #942718;
	background-color: rgba(0, 0, 0, 0.07);  
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e1613e), to(#d74531));  
	background-image: -webkit-linear-gradient(bottom, #e1613e, #d74531);  
	background-image: -o-linear-gradient(bottom, #e1613e, #d74531);  
	background-image: linear-gradient(to top, #e1613e, #d74531);
}
.site-wrapper {
	min-width: 1200px;
	background-color: #849d8f;	
}	
.site-wrapper-main {
	background-image: url("../img/slide1-1.png");	
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #849d8f;	
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;	
}	
.site-wrapper-main::before,
.site-wrapper-main::after {
	content: "";
	visibility: hidden;
}	
.site-wrapper-main::before,
.site-wrapper-main::after {
	background-image: url("../img/slide2-1.png");	
}	
.site-wrapper-main::after {
	background-image: url("../img/slide3-1.png");	
}
.container {	
	width: 1146px;
	margin: 0 auto;
	padding-right: 27px;
	padding-left: 27px;
	margin-bottom: 40px;
}
.main-header {
	position: relative;
}	
.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
}	
.main-navigation-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 700px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-right: 16px;
	margin-top: 13px;
}	
.main-navigation-left a{	
	display: block;	
	padding: 7px 15px; 
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;	
	text-decoration: none;
	letter-spacing: -0.01em;
}				
.main-navigation-left > li > a:not(.active):hover {
	background-color: #f7f6f3;	
	border-radius: 100px;
}	
.main-navigation-left > li > a:not(.active):hover span{
	color: #323232;
}	
.main-navigation-left > li> a:not(.active):active{
	background-color: #f7f6f3;	
	border-radius: 20px;
	-webkit-box-shadow: inset 0 2px 1px 0 #696969;
	        box-shadow: inset 0 2px 1px 0 #696969;
}	
.main-navigation-left > li> a:not(.active):active span{
	color: #323232;
}	
.main-navigation-left > li > a.active {
	background-color: #d07058;
	color: #ffffff;
	border-radius: 20px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}	
.main-navigation-catalog {
	position: relative;
}		
ul.main-navigation-item {	
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: -8px;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	width: 144px;
	background-color: #f8f7f4;	
	border-radius: 5px;
	list-style: none;
	z-index: 2;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	-webkit-transition-property: visibility;
	-o-transition-property: visibility;
	transition-property: visibility;
}		
.main-navigation-catalog:hover ul {
	visibility: visible;
}
ul.main-navigation-item a{
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;	
	letter-spacing: 0.1px;
	margin: 0;	
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}	
.main-navigation-item li:first-child a{	
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 8px;
	color: #323232;
	font-weight: 700;
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}	
ul.main-navigation-item a:not(.active):hover{
	background-color: #fbded7;
}	
ul.main-navigation-item a:not(.active):active{ 
	background-color: #f6b5a5;
}	
ul.main-navigation-item .active { 
	background-color: #d07058;
}	
.main-user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	width: 267px;	
	padding: 0;
	margin: 0;
	margin-top: 13px;
	font-size: 16px;
	line-height: 18px;	
	list-style: none;
}	
.main-user-navigation li{			
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 16px;	
	margin-right: 10px;	
	background-color: #9db1a5;
	border-radius: 15px;	
}	
.main-user-navigation > li> a{	
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	letter-spacing: 0.04em;
	text-decoration: none;
}	
li.main-user-navigation-search {	
	position: relative;		
	padding: 0;
	margin-right: 11px;
	margin-left: 5px;
	width: 31px;
	height: 31px;	
	background-color: #a1b6aa;
	border-radius: 50%;	
}	
.main-user-navigation-search svg {
	fill: #ffffff;
	margin-top: 6px;
	margin-left: 7px;
}	
.main-user-navigation-search:hover svg {
	fill: #000000;
}	
.main-user-form-search {
	position: relative;
	visibility: hidden;
	-webkit-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
			transition-duration: 0.5s;
	-webkit-transition-property: visibility;
	-o-transition-property: visibility;
	transition-property: visibility;
	position: absolute;
	width: 310px;
	top: 35px;
	right: -2px;
	background-color: #f8f7f4;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 5;
}	
.main-user-navigation-search:hover .main-user-form-search {
	visibility: visible;	
}
.main-user-form-search input {
	font-size: 14px;
	color: #323232;
	font-weight: 700;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;	
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}	
.main-user-navigation-search input:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	width: 308px;
	padding-top: 11px;
	padding-bottom: 11px;	
}	
.main-user-navigation-search input:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	width: 308px;
	padding-top: 11px;
	padding-bottom: 11px;
}	
.main-user-navigation-search input:focus + label {	
	visibility: visible;	
}
.main-user-navigation-search input:valid + label {		
	visibility: visible;
	color: #999999;
}	
.main-user-form-search label {	
	position: absolute;
	visibility: hidden;
	top: 6px;
	left: 13px;
	color: #5b9ddf;
	font-size: 11px;
	line-height: 13px;
}	
.main-user-form-search input::-moz-placeholder {
	color: #999999; 
	font-weight: 400;
}
.main-user-form-search input::-webkit-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}
.main-user-form-search input:-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}	
.main-user-form-search input::-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}
.main-user-navigation-login {	
	position: relative;	
	padding: 0;
	padding-right: 17px;	
	margin: 0;
	z-index: 10;	
}	
.main-user-login-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}	
.main-user-navigation-login svg{
	margin: 0;
	margin-right: 5px;
	padding: 0;	
	fill: #ffffff;
}	
.main-user-navigation-login:hover a{
	color: #000000;
}	
.main-user-form-bottom > p > a:hover{
	color: #e84d37;
}
.main-user-navigation-login:hover svg{
	fill: #000000;
}	
.main-user-navigation-login:hover .main-user-form{
	visibility: visible;
}
.main-user-form {
	visibility: hidden;
	-webkit-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
			transition-duration: 0.5s;
	-webkit-transition-property: visibility;
	-o-transition-property: visibility;
	transition-property: visibility;
	position: absolute;	
	top: 35px;
	right: -3px;
	width: 237px;	
	background-color: #f8f7f4;
	margin: 0;
	padding: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}	
.main-user-form p{
	position: relative;
	margin: 0;
}	
.main-user-form input{
	width: 100%;
	padding-top: 7px;
	padding-bottom: 9px;
	padding-left: 10px;
	background-color: #ffffff;
	margin-bottom: 22px;
	color: #323232;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	border: 1px solid #d3d3d2;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	border-radius: 5px;
}	
.main-user-form label {
	position: absolute;
	visibility: hidden;
	top: -15px;
	left: 10px;
	color: #5b9ddf;
	font-size: 11px;
	line-height: 13px;
}	
.main-user-form input:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);	
	padding-top: 6px;
	padding-bottom: 8px;
}	
.main-user-form input:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);	
	padding-top: 6px;
	padding-bottom: 8px;	
}	
.main-user-form input:focus + label {	
	visibility: visible;
}
.main-user-form input:valid + label {		
	visibility: visible;
	color: #999999;
}	
.main-user-form input::-moz-placeholder {
    color: #999999; 
	font-weight: 400;
}
.main-user-form input::-webkit-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}
.main-user-form input:-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}	
.main-user-form input::-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}
.main-user-form-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
a.main-user-form-bottom-link {	
	width: 240px;
	font-size: 12px;
	line-height: 20px;	
	color: #323232;
	background-color: #f8f7f4;
	padding: 0;	
	text-decoration: underline;	
	letter-spacing: 0.02em;
}	
.main-user-form-bottom p{	
	padding-right: 0;	
	width: 121px;
	margin-left: 18px;
}	
.main-user-form-btn {
	padding-top: 10px;
	padding-bottom: 9px;		
}	
li.main-user-navigation-busket {
	position: relative;
	width: 75px;
	padding-top: 6px;		
	padding-left: 43px;
	padding-bottom: 8px;
	margin-right: 0;
	z-index: 20;	
	letter-spacing: 0.01em;   
}		
li.main-user-navigation-busket::before {
	position: absolute;
	content: "";	
	left: 15px;
	top: 6px;
	width: 21px;
	height: 20px;
	background: url(../img/basket.svg) no-repeat;		
}		
li.main-user-navigation-busket:hover::before {
	background: url(../img/basket-red.svg) no-repeat;		
}	
li.main-user-navigation-busket:hover > a{
	color: #323232;
}	
.main-slider {
	position: relative;
	text-align: center;
	padding-top: 273px;
	margin-bottom: 40px;
}	
.slider-slide {
	display: none;
}	
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
}
.slide-btn {	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;	
	font-size: 32px;
	line-height: 44px;	
}	
.slider-controls {
	position: absolute;
	bottom: 21px;
	left: 0;
	z-index: 20;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
#btn-1:hover ~ .site-wrapper label[for="btn-1"],
#btn-2:hover ~ .site-wrapper label[for="btn-2"],
#btn-3:hover ~ .site-wrapper label[for="btn-3"] {
	background-color: rgba(248, 247, 244, 0.4);
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide1-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide2-1.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide3-1.png");
}
.promo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-bottom: 40px;
}
.promo-item {
	width: 520px;	
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 23px;
	border-radius: 20px;
}	
.promo-item h3{
	padding: 0;
	margin: 0;
	margin-bottom: 17px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;	
}	
.promo-item:nth-child(2) {	
	background-image: url(../img/malinka.jpg);
	background-repeat: no-repeat;
	background-color: #c72d51;
}
.promo-item:last-child {	
	background-image: url(../img/chocolate.jpg);
	background-repeat: no-repeat;
	background-color: #472a1c;
}
.promo-item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 44px;
}
.promo-item .btn {
	float: right;
}	
.products-shop {
	margin-bottom: 14px;
}	
.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}	
.site-wrapper-main .products-item::before {
	position: absolute;
	content: "";	
	top: -1px;
	left: 0;
	width: 62px;
	height: 62px;
	background: url(../img/hit.svg) no-repeat;
}
.shop {
	padding: 25px 20px 24px 20px;	
	color: #323232;
	background: url(../img/vaflya.png) no-repeat;
	background-color: #eee2cb;
	margin-bottom: 40px;	
	border-radius: 20px;
}
.shop b {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	font-size: 24px;
	line-height: 30px;
}	
.shop-content {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;	
	-ms-flex-wrap: wrap;	
		flex-wrap: wrap;	
	-webkit-box-pack: justify;	
		-ms-flex-pack: justify;	
			justify-content: space-between;
	margin-bottom: 2px;
}
.shop-content:nth-child(3) .shop-features:first-child::before{
	content: "";
	position: absolute;
	height: 49px;
	width: 49px;
	top: 10px;
	left: 0px;
	background: url(../img/ice-cream.svg) no-repeat;
}	
.shop-content:last-child .shop-features:first-child::before{
	content: "";
	position: absolute;
	height: 49px;
	width: 49px;
	top: 10px;
	left: 0px;
	background: url(../img/eco.svg) no-repeat;	
}	
.shop-content:nth-child(3) .shop-features:last-child::before{
	content: "";
	position: absolute;
	height: 48px;
	width: 49px;
	top: 10px;
	left: 0px;
	background: url(../img/cow.svg) no-repeat;	
}	
.shop-content:last-child .shop-features:last-child::before{
	content: "";
	position: absolute;
	height: 49px;
	width: 49px;
	top: 10px;
	left: 0px;
	background: url(../img/thermometer.svg) no-repeat;		
}	
.shop-content p{
	margin: 0;
}	
.shop-features {
	position: relative;
	width: 485px;
	padding-top: 22px;
	padding-left: 55px;	
}	
.index-content {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
}
.index-content-left {
	width: 334px;
	margin-right: 25px;
	padding-top: 24px;
	padding-left: 20px;
	padding-right: 206px;
	padding-bottom: 82px;
	background: url(../img/shop-ice-cream.jpg) no-repeat;
	background-color: #ffffff;
	color: #323232;
	border-radius: 20px;
}
.index-content-left a{
	color: #323232;
	font-size: 22px;
	line-height: 30px;
	word-spacing: 3px;
	font-weight: 700;
}
.index-content-left a:hover,
.index-content-left a:active {
	color: #e84d37;
}	
.index-content-left h3 {
	padding: 0;
	margin: 0;
	letter-spacing: -0.05em;
}	
.index-content-left p {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}
.index-content-right {
	width: 564px;
	background-color: #f8f7f4;
	color: #5a5a5a;	
	border-radius: 20px;
	background: url(../img/bg-post.svg) no-repeat; 
}	
.index-content-right-block {
	margin: 7px;
	padding-top: 27px;
	padding-left: 20px;
	padding-right: 18px;	
	padding-bottom: 35px;
	border-radius: 20px;
	background-color: #ffffff;
}
.index-content-right p{
	margin: 0;
	margin-bottom: 37px;
	padding: 0;
}	
.subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	position: relative;
}	
.subscribe-email {
	width: 352px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
	color: #323232;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}
.subscribe-form input::-moz-placeholder {
	color: #999999; 
	font-weight: 400;
}
.subscribe-form input::-webkit-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}
.subscribe-form input:-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}	
.subscribe-form input::-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}
.subscribe-email:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	padding-top: 9px;
	padding-bottom: 9px;
	width: 350px;
}	
.subscribe-email:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	width: 350px;
	padding-top: 9px;
	padding-bottom: 10px;	
	outline: none;
}	
.subscribe-form label {
	position: absolute;
	visibility: hidden;
	top: -15px;
	left: 13px;
	color: #5b9ddf;	
	font-size: 11px;
	line-height: 13px;
}	
.subscribe-email:focus + label {
	visibility: visible;
}	
.subscribe-email:valid + label {
	visibility: visible;
	color: #999999;
}	
.subscribe-btn {	
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
}	
.main-footer {
	margin-top: 0;
}	
.main-footer-inner {
	margin-top: 9px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}	
.map {
	margin: 0 auto;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f4f0dd;
	min-width: 1200px;
	min-height: 428px;
}	
.iframe-map {	
	position: absolute;
	width: 100%;
	height: 428px;	
}	
.map-wrapper {
	position: relative;	
	right: 0;
	height: 428px;
	width: 1200px;
	margin: 0 auto;
}	
.map-contacts {
	position: absolute;
	width: 260px;
	top: 60px;
	right: 25px;
	color: #323232;
	font-size: 14px;
	line-height: 20px;	
	background-color: #ffffff;	
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 17px;
	padding-left: 27px;
	border-radius: 20px;
}	
.map-contacts b {
	font-size: 18px;
	line-height: 26px;
	font-weight: 600;
}
	
.map-contacts-address {		
	margin-bottom: 15px;
}	
.map-contacts-address p{	
	margin: 0;
}	
.map-contacts-phone {	
	margin-bottom: 23px;
}	
.map-contacts-phone p{
	margin: 0;
	margin-bottom: 4px;
}	
p.phone-number {
	margin-bottom: 1px;
}	
.map-contacts-btn {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 28px;
	padding-right: 28px;
}	
.main-footer-content {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	width: 1146px;
	margin: 0 auto;	
	padding-top: 19px;
	padding-bottom: 35px;
}
.main-footer-content a{
	position: relative;
	color: #ffffff;
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;	
	border-bottom: 1px solid rgba(255,255,255,0.2);	
}	
.main-footer-content a:hover,
.main-footer-content a:active{
	color: #ffbc9e;	
	border-bottom: 1px solid rgba(255,188,158,0.5);
}	
.main-footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	width: 267px;
	padding-top: 16px;
	font-size: 0;
}
a.social-btn {
	width: 32px;
	height: 32px;	
	margin-right: 11px;
	margin-bottom: 10px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;	
	cursor: pointer;
	opacity: 0.8;
}
	
.social-btn svg {
	fill: rgba(255, 255, 255, 0.8);
}	
a.social-btn:hover, 
a.social-btn:active {
	border: 3px solid rgba(255, 255, 255, 0.5);
}	
.social-btn:hover svg {
	fill: #ffffff;
}
.social-btn:active svg {
	fill: #e9e9e9;
}
.main-footer-links {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	width: 560px;
	padding-top: 11px;	
	text-align: center;
}
.links-left {
	position: relative;
	width: 142px;
	padding-left: 23px;
	text-align: left;
}	
.links-left::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	background: url(../img/heart.svg) no-repeat;
	width: 15px;
	height: 13px;    

}	
.links-left p,
.links-right p {
	padding: 0;
	margin: 0;
}	
.links-right a{ 
	margin-bottom: 3px;
}
.links-right {
	width: 180px;
	text-align: left;
}	
.footer-copyright {
	width: 189px;
	padding-left: 78px;
	margin: 0;
}	
.footer-copyright a {	
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 12px;
}	
a.footer-logo {		
	letter-spacing: -0.01em;	
}	
a.footer-logo-img {
	border: none;
}	
.footer-logo-img img{
	display: block;
}	
.footer-copyright p {
	margin: 0;
	padding: 0;
}	
.modal-feedback {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #f8f7f4;
	width: 430px;
	margin-left: -240px;
	margin-top: -223px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 25px;
	border-radius: 10px;
}	

@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px); }
	100% {-webkit-transform: translateY(0);transform: translateY(0); }
}	

@keyframes bounce {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px); }
	100% {-webkit-transform: translateY(0);transform: translateY(0); }
}	

.modal-feedback-show {
	display: block;	
	-webkit-animation-name: bounce;
			animation-name: bounce;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
}	
.modal-feedback p {
	position: relative;
	font-size: 24px;	
	color: #323232;
	font-weight: 700;
	margin: 0;
	margin-bottom: 22px;
	padding: 0;
}	
.modal-feedback-close {
	position: absolute;
	background: url(../img/cross-big.svg) no-repeat;	
	font-size: 0px;
	height: 21px;
	width: 21px;
	right: 11px;
	top: 16px;
	border: none;
	cursor: pointer;
}	

.modal-feedback-form input {	
	width: 250px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 9px;
	color: #323232;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.modal-feedback-form input::-moz-placeholder,
.modal-feedback-form textarea::-moz-placeholder {
	color: #999999; 
	font-weight: 400;
}
.modal-feedback-form input::-webkit-input-placeholder,
 .modal-feedback-form textarea::-webkit-input-placeholder{ 
	color: #999999; 
	font-weight: 400;
}
.modal-feedback-form input:-ms-input-placeholder,
.modal-feedback-form textarea:-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}	
.modal-feedback-form input::-ms-input-placeholder,
.modal-feedback-form textarea::-ms-input-placeholder { 
	color: #999999; 
	font-weight: 400;
}

.modal-feedback-form input:hover {
	border: 2px solid rgba(145, 145, 145, 0.52);	
	width: 248px;
	padding-top: 7px;
	padding-bottom: 8px;
}	
.modal-feedback-form input:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	width:	248px;
	padding-top: 7px;
	padding-bottom: 8px;	
	outline: none;
}	
.modal-feedback-form label,
.modal-feedback-form  textarea label {
	position: absolute;	
	top: -15px;
	left: 0;
	visibility: hidden;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
	color: #999999;	
}
.modal-feedback-form input:focus + label,
.modal-feedback-form textarea:focus + label {	
	visibility: visible;
	color: #5b9ddf;	
}	
.modal-feedback-form input:valid + label,
.modal-feedback-form textarea:valid + label {		
	visibility: visible;
	color: #999999;
}	
.modal-feedback-form textarea {		
	width: 413px;
	min-height: 143px;
	color: #323232;
	padding-left: 15px;
	padding-top: 7px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}	
.modal-feedback-form textarea:hover {	
	border: 2px solid rgba(145, 145, 145, 0.52);	
	width: 410px;
	min-height: 141px;
}
.modal-feedback-form textarea:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
	width:	410px;
	min-height: 141px;	
	outline: none;
}	
.modal-feedback-form textarea:focus + label{	
	visibility: visible;
}	
.modal-feedback-btn {	
	padding-bottom: 10px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 290px;	
}
li.busket-inner {
	background-color: rgba(248, 247, 244, 0.99);
}
li.busket-inner a{
	color: #323232;
}	
li.busket-inner::before {
	position: absolute;
	content: "";	
	left: 15px;
	top: 6px;
	width: 21px;
	height: 20px;
	background: url(../img/basket-red.svg) no-repeat;		
}	
.main-busket-choice {
	visibility: hidden;
	position: absolute;
	content: "";	
	top: 35px;
	right: 0;
	width: 540px;	
	background-color: #f8f7f4;
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 10;
	-webkit-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
			transition-duration: 0.5s;
	-webkit-transition-property: visibility;
	-o-transition-property: visibility;
	transition-property: visibility;
}	
.busket-inner:hover .main-busket-choice {
	visibility: visible;
}
.main-busket-choice a{
	background-color: #f8f7f4;
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-right: 32px;
	cursor: pointer;
}	
.busket-choice-item a:hover,
.busket-choice-item a:active{
	color: #e84d37;
}	
.busket-choice-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	position: relative;
	padding-left: 86px;
	padding-top: 28px;
	padding-bottom: 10px;	
}	
.busket-choice-item p{
	padding: 0;
	margin: 0;
}	
p.busket-item-price {
	margin-left: 25px;
}	
.main-busket-choice hr {
	margin: 0;
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
	border: none; 
	color: #cacac7; 
	background-color: #cacac7; 
	height: 1px; 
}	
.busket-choice-item:first-child::before {
	position: absolute;
	content: "";	
	left: 42px;
	top: 19px;
	width: 33px;
	height: 33px;
	background: url(../img/ice-cream1-busket.jpg) no-repeat;
	border-radius: 50%;
}	
.busket-choice-item:nth-child(2)::before {
	position: absolute;
	content: "";	
	left: 42px;
	top: 19px;
	width: 33px;
	height: 33px;
	background: url(../img/ice-cream2-busket.jpg) no-repeat;
	border-radius: 50%;
}	
.busket-choice-item-delete{
	position: absolute;
	content: "";	
	left: 15px;
	top: 30px;
	font-size: 0;
	width: 15px;
	height: 15px;	
	background: url(../img/cross-small.svg) no-repeat;
	border: none;
	cursor: pointer;
}	
.busket-choice-sum {
	margin-right: 15px;
	margin-top: 15px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
}	
.main-busket-choice .choice-checkout {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 13px;
	margin-top: 15px;
	margin-left: 355px;
	margin-right: 0;
	margin-bottom: 20px;
	letter-spacing: 0.01em;  
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;	
}
.main-header-contacts {
	position: absolute;
	right: 0;
	top: 65px;
	max-width: 200px;
	text-align: right;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
}
.main-header-contacts p{
	margin: 0;
	margin-bottom: 4px;
}	
.main-header-contacts span {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}	
.breadcrumbs ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	margin-top: 17px;
	padding: 0;
}	
.breadcrumbs li {
	position: relative;
	margin-right: 20px;
	z-index: 1;
}	
.breadcrumbs li:not(:first-child)::before {
	position: absolute;
	content: "»";	
	left: -14px;
	top: 0;
	width: 8px;
	height: 8px;
}	
.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-decoration: none;	
}	
.breadcrumbs-link {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}	
.breadcrumbs-link:hover,
.breadcrumbs-link:active
 {
	color: #ffbc9e;	
	border-bottom: 1px solid rgba(255,188,158,0.5);
}	
.container h1 {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
	margin-bottom: 26px;
}	
.filters-vendors {
	margin-bottom: 40px;	
}	
.filters-vendors legend {
	font-size: 14px;
	line-height: 16px;	
	padding-left: 13px;
}	
.filters-vendors fieldset {	
	padding: 0;
	border: none;
}
.filter-vendors-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	margin-bottom: 15px;
}
.filter-vendors-sorting {
	width: 	192px;
	padding: 0;
	margin: 0;
	margin-right: 15px;
	position: relative;
}	
.select-wrapper {
	position: relative;
}	
.select-wrapper::before { 
	position: absolute;
	content: "";	
	top: 20px;
	right: 16px;
	border-style: solid;
	border-width: 9px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	z-index: 1;
}
.select-wrapper:hover::before { 
	border-color: #333333 transparent transparent transparent;	
}
.filter-vendors-sorting select {
	width: 190px;
	height: 35px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #aabcb2; 
	border-radius: 100px;
	padding: 8px 12px;	
	margin: 0;
	margin-top: 7px;
	vertical-align: baseline; 
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;	
}	
select::-ms-expand { 
	display: none; 
}
.filter-vendors-sorting select:hover {
	background-color: #ffffff;
	color: #323232;
}
.filter-vendors-price {
	width: 215px;	
	margin-right: 15px;	
}
.filter-vendors-price legend {	
	float: left;	
}
.filter-vendors-fatness {	
	min-width: 410px;	
	font-size: 14px;
	line-height: 16px;	
}	
.filter-fatness {	
	background-color: rgba(255, 255, 255, 0.20);
	border-radius: 100px;
	padding: 5px 8px;
	margin-top: 7px;	
}
.filter-vendors-fatness label{
	position: relative;
	padding-left: 45px;
	padding-right: 0;
	margin-right: 12px;
	cursor: pointer;
}	
.filter-vendors-fatness input[type="radio"],
.filter-vendors-taste input[type="checkbox"] {
	display: none;	
}
.filter-vendors-fatness input[type="radio"] + label {
	position: relative;	
	font-size: 16px;
	line-height: 24px;
	padding-left: 35px;
	padding-bottom: 15px;	
	cursor: pointer;
}	
.filter-vendors-taste input[type="checkbox"] + label {
	position: relative;
	cursor: pointer;
}	
.filter-vendors-fatness input[type="radio"] + label::before {
	position: absolute;
	content: "";	
	left: 5px;
	top: -2px;
	font-size: 0;
	width: 25px;
	height: 25px;	
	background: url(../img/radio-off.svg) no-repeat;
	border: none;
	cursor: pointer;	
	opacity: 0.8;
}	
.filter-vendors-taste input[type="checkbox"] + label::before {
	position: absolute;
	content: "";	
	left: 4px;
	top: 0;
	font-size: 0;
	width: 25px;
	height: 25px;	
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-size: 90%;
	border: none;
	cursor: pointer;	
	opacity: 0.8;
}	
.filter-vendors-fatness input[type="radio"]:checked + label::after {
	position: absolute;
	content: "";	
	left: 5px;
	top: -2px;
	font-size: 0;
	width: 25px;
	height: 25px;	
	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;	
	opacity: 0.8;
}	
.filter-vendors-taste input[type="checkbox"]:checked + label::after {
	position: absolute;
	content: "";	
	left: 5px;
	top: -2px;
	font-size: 0;
	width: 25px;
	height: 25px;	
	background: url(../img/checkbox-on.svg) no-repeat;
	border: none;
	cursor: pointer;	
	opacity: 0.8;
}	
.filter-vendors-fatness input[type="radio"] + label:hover::before, 
.filter-vendors-taste input[type="checkbox"] + label:hover::before {
	opacity: 1;
}	
.filter-vendors-fatness input[type="radio"]:checked + label:hover::after, 
.filter-vendors-taste input[type="checkbox"]:checked + label:hover::after {
	opacity: 1;
}
.filter-vendors-fatness input[type="radio"]:disabled + label::before,
.filter-vendors-taste input[type="checkbox"]:disabled + label::before {
	opacity: 0.4;
}
.filter-vendors-fatness input[type="radio"]:checked:disabled + label::after,
.filter-vendors-taste input[type="checkbox"]:checked:disabled + label::after {
	opacity: 0.4;
}
.price-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}	
.filter-vendors-price label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
}
.filter-vendors-price input {
	width: 26px;
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	border: 0;
	background: 0 0;
}
.range-controls {
	position: relative;
	height: 19px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	border-radius: 100px;
	background: rgba(255, 255, 255, 0.20);
	margin-top: 7px;	
}	
.range-controls-scale {	
	height: 4px;
	background: rgba(248, 247, 244, 0.5);
}	
.range-controls-bar {
	width: 55%;
	height: 4px;
	margin-left: 25px;
	background: #f8f7f4;
}
.range-controls-toggle {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;	
	cursor: pointer;
}
.toggle-min {
	left: 35px;
}
.toggle-max {
	left: 130px;
}
.filter-vendors-taste {	
	min-width: 684px;
	background-color: rgba(255, 255, 255, 0.20);
	border-radius: 100px;
	padding: 9px 8px;
	margin-top: 7px;
	font-size: 16px;
	line-height: 18px;	
	letter-spacing: 0.02em;
}
.filter-vendors-taste label{
	position: relative;
	padding-left: 35px;
	padding-right: 0;
	margin-right: 12px;
	cursor: pointer;
}		
.filters-vendors .btn-form {
	margin-top: 23px;
	margin-left: 12px;	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.20);
	padding: 8px 28px;
	border-radius: 100px;
	border: 2px solid #ffffff;
}	
.filters-vendors .btn-form:hover,
 .filters-vendors .btn-form:focus {
	background-color: #ffffff;
	color: #323232;
}	
.filters-vendors .btn-form:active {
	-webkit-box-shadow: inset 0 2px 1px #696969;
			box-shadow: inset 0 2px 1px #696969;
	border: none;
	background-color: #ededed;
	color: #323232;
	outline: none;
}
.products-inner {
	margin-bottom: 60px;
}	
.products-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	margin-bottom: 16px;
}	
.products-item-img {
	border-radius: 50%;
	margin: 0;
	margin-bottom: 8px;
}	
.products-item {
	position: relative;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 20px;	
}	
.products-item:nth-child(4n) {
	margin-right: 0;	
}		
.products-item b::before {
	position: absolute;
	top: 5px;
	left: 80px;
	content: "";
	width: 61px;
	height: 61px;
	background: url(../img/ruble.svg) no-repeat;	
}	
.products-item h2,
.products-item h3 {
	margin: 0;	
	padding: 0;	
	padding-bottom: 2px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;	
	color: #ffffff;	
	letter-spacing: 0.02em;
}	
.products-item b{
	position: absolute;
	top: 210px;
	left: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}	
.products-item span {
	font-size: 30px;
	padding-left: 35px;
	margin-left: 2px;
}	
span.underline {		
	margin: 0;	
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	text-align: center;	
	color: #ffffff;
	
}	
.main-navigation-left .underline {	
	position: relative;	
}
.products-item span.underline {
	border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}	
.main-navigation-left .underline::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.30);
	height: 1px;
	width: 100%;
}

.products-item::after {
	display: none;
	position: absolute;
	content: "";
	top: -5px;
	left: -15px;
	background-color: rgba(248, 247, 244, 0.20);
	min-height: 405px;
	width: 267px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 25;
	border-radius: 5px;
}	
.products-item-content {
	position: relative;
}	
.products-item-btn {
	display: none;
	position: absolute;
	content: "";
	top: 10px;
	left: 32px;	
	z-index: 35;	
}	
.products-item:hover .products-item-btn {
	display: block;	
}	
.products-item:hover::after {
	display: block;
}	
.products-item-btn {
	padding: 8px 17px;
}	
.features-paginator {	
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;	
	min-width: 195px;
	margin-bottom: 20px;
}	
.features-paginator a {	
	width: 26px;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	text-decoration: none;	
	text-align: center;
	vertical-align: middle;	
	margin-right: 3px;
}	
.features-paginator .current {
	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;
}
.features-paginator a:not(.features-arrow):hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
	border-radius: 50%;
}	
.features-paginator a:not(.features-arrow):active {
	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;
}
.features-paginator a:last-child,
.features-paginator a:first-child {
	position: relative;
	width: 21px;	
}	
.features-paginator a:last-child {
	margin-right: 0;
}	
.features-paginator .features-forward svg {
	fill: #ffffff;
	margin-left: 10px;
}	
.features-paginator .features-back svg {
	fill: #ffffff;
	margin-right: 10px;
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);	
	opacity: 0.2;
}	
.features-paginator2 a:first-child::before {
	content: "";
	position: absolute;
	top: 3px;
	right: 7px;
	width: 8px;
	height: 13px;
	background: url(../img/icon-right-small.svg) no-repeat;
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);	
	opacity: 0.2;
}
.features-paginator2 a:last-child::after {
	content: "";
	position: absolute;
	top: 7px;
	right: 0;
	width: 8px;
	height: 13px;
	background: url(../img/icon-right-small.svg) no-repeat;
}